body{
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
iframe{
    z-index: -10;
    position: static;
    margin-top: 200px;

    display: block;
    margin: 0% auto;
    
    width: 80%;
    height: 700px;
    background-color:whitesmoke;
    
}
footer{
    background-color: rgba(0, 0, 0, .6);
     position: absolute;
     display: block;
     height: 300px;;
     width: 100%;
     bottom: -150px;
     color: white;
   }
   
   footer ul li{
     display: inline;
     margin:20px;
   }
   
   footer img{
     width: 26px;
   }
   footer a{
     text-decoration: none;
   }
   footer ul{
     float: left;
   }