body {
  margin: 0;
  padding: 0;
  min-width: 1000px;;
}
#fondo {
  position: fixed;
  top: 0;
  z-index: 1;
  background: url("../imagenes/planos_trabajo.jpeg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
}
#desplazamiento {
  z-index: 100;
  width: 100%;
  height: 600px;
  background-color: #fff;
  height: auto;
}
#transparente {
  position: static;
  top: 0%;
  z-index: inherit;
  width: 100%;
  height: 418px;
  background-color: transparent;
}
header {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 300px;
  background-color: white;
}
section {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 1800px;
  background-color: white;
}
header img {
  display: block;
  margin: 0px auto;
  padding-top: 60px;
}
.comentario {
  text-align: justify;
  width: 80%;
  box-sizing: content-box;
  padding-left: 20px;
  line-height: 2em;
}
.imagen img {
  float: left;
  border-left: 3px solid black;
  max-width: 130%;
  padding-left: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid black;
  margin-top: 30px;
}
div {
  width: 50%;
}
article {
  width: 50%;
  float: left;
}
section, article{
    z-index: 1;
}
footer {
  z-index: 10000;
  margin-top: 20px;
  display: inline-flex;
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  color: white;
  margin-top: 20px;
  height: 150px;

 

}
footer ul{
  z-index: 800;
}

footer ul li {
  z-index: 1000;
  display:inline-flex;
  margin: 20px;
}

footer img {
  width: 26px;
  filter: invert(100%);
}

footer a {
  text-decoration: none;
}
a:visited{
  color: white;

}

